xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    xXx LOOP post_meta dumb_meta xXx
        xXx post_meta$title xXx
    xXx BBL xXx
xXx TTYL xXx
xXx CONTENT xXx
<div class="blog_posts">
    xXx LOOP post_meta dumb_meta xXx
        <div class="language-bash content">
            <h2 class="post_title">xXx post_meta$title xXx</h2>
            <p>
                <span class="author_name">xXx post_meta$date xXx</span>
                <!-- <span class="comment_count"><a href="/xXx post_meta$link xXx#disqus_thread">Comments</a></span> -->
            </p>
            xXx post_meta$content xXx
        </div>
    xXx BBL xXx
</div>
xXx TTYL xXx
